<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p style="color: rgb(0, 0, 0)"><span style="color: white; font-weight: bold;">JOB No:</span> Yes</p>
        </div>
        <div class="col-md-3">
            <p style="color: rgb(0, 0, 0)"><span style="color: white;font-weight: bold;">AVAL HOURS :</span> 0.00</p>  
        </div>
        <div class="col-md-3">
            <p style="color: rgb(0, 0, 0)"><span style="color: white;font-weight: bold;">DEPARTMENT:</span> General</p>
        </div>
        <div class="col-md-3">
            <p style="color: rgb(0, 0, 0)"><span style="color: white;font-weight: bold;">SCHEDULED DATE:</span> 29/06/2021 02:52 PM</p>
        </div>
      </div>
</div>
<br>
<div class="container head">
    <mat-card >
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div>
                <p style="color: red;">CLIENT NAME:<span style="color: black;">Veniteck Test Client</span>
                </p>
                <p style="color: red;">SITE ADDRESS:<span style="color: black;">23 Vaesha DEVIOT, TS -
                        7275</span> </p>
                <p style="color: red;">APPOINTMENT COMMENTS:<span style="color: black;">Something
                            sjkh</span>
                </p>
    
            </div>
            <div>
                <p style="color: red;">SITE CONTACT:<span style="color: black;"> No Contact Provided</span>
                </p>
                <p style="color: red;">SITE CONTACT NO:<span style="color: black;">No Contact
                Provided</span> </p>
    
            </div>
            <div>
                <p style="color: red;">JOB DESCRIPTION:<span style="color: black;">Test 11 version</span>
                </p>
                <p style="color: red;">APPOINTMENT DATE:<span style="color: black;">21/07/2021</span></p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<br>
<section>
    <div class="grand_parent">
        <div class="parents">
            <div class="child">
                <button id="button" type="button" mat-raised-button class="btn">RE-ATTENDENCE</button>
            </div>
            <div class="child">
                <button id="button" type="button" mat-raised-button class="btn">INSURANCE</button>
            </div>
            <div class="child">
                <button id="button" type="button" mat-raised-button class="btn">Timesheets</button>
            </div>
        </div>
    </div>

</section>
    <div class="container">
        <div class="row my-row">
            <div class="col-md-6">
                <mat-card class="card">
                    <mat-card-header style="background-color: rgb(195,16,47);">
                        <mat-card-title>SITE INSTRUCTIONS</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="p-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe dicta laudantium neque dolore dolorum distinctio aspernatur vitae. Nisi rem dolorem praesentium quos fugiat necessitatibus doloremque animi, id rerum vel</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="card">
                    <mat-card-header style="background-color: rgb(195,16,47);">
                        <mat-card-title>CLIENT INSTRUCTIONS</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, optio. Quo aperiam, aliquam amet rerum cupiditate dolorem praesentium recusandae eum aspernatur iste, nisi, alias quis quaerat dolor quae autem ex!</p>
                    </mat-card-content>
                </mat-card>
            </div>   
                </div>
        </div>
<div class="container">
    <div class="row my-row">
        <div class="col-md-6">
            <mat-card class="card">
            <mat-card-header style="background-color: rgb(195,16,47);">
                <mat-card-title>SCHEDULED TECHNICIAN </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="p-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit quis culpa magni ullam qui! Deserunt cum excepturi facilis quasi veritatis unde similique rem optio? Quia illo sint at adipisci maiores?</p>
            </mat-card-content>
            <mat-card-actions>
                <button type="button"  style="background-color: rgb(195,16,47);color: white;">LOCATION PHOTO</button>
            </mat-card-actions>
            
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card class="card">
            <mat-card-header style="background-color: rgb(195,16,47);">
                <mat-card-title>NEXT </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam similique asperiores labore, perspiciatis dignissimos adipisci atque quibusdam omnis nobis sit quam exercitationem sint modi. Reiciendis official</p>
            </mat-card-content>
            <mat-card-actions>
                <button type="button"  style=" background-color: rgb(195,16,47);color: white;" (click)="workPerformList()">NEXT</button>
            </mat-card-actions>
        
            </mat-card>
        </div>
    </div>
</div>

    
