<div class="container-fluid" style="background-color: rgb(195,16,47);">
    <div class="row">
        <div class="col-md-3">
            <p style="color: rgb(255, 255, 255);"><strong>Site Address:</strong><span style="color: black;">23 Varsha Deviot TAS, -7275
            </span></p>
        </div>
        <div class="col-md-3">
            <p style="color: rgb(255, 255, 255);"><strong>JOB DESCRIPTION:</strong><span style="color: black;">Test 11 version gjh</span>
            </p>
        </div>
        <div class="col-md-3">
            <p style="color: rgb(255, 255, 255);"><strong>AVAI HOURS:</strong><span style="color: black;">0.00</span></p>
        </div>
        <div class="col-md-3">
            <p style="color: rgb(255, 255, 255);"><strong>JOB NO:</strong><span style="color: black;">JND1114</span></p>
        </div>
    </div>
</div>
<br>
<div class="Detail">
    <mat-card>
        <mat-card-header class="d-flex justify-content-between" id="mat-header" style="background-color: rgb(195,16,47);">
            <p>DATE:29/06/2021 2:56:58 PM </p>
            <p>STATUS: Not Complete </p>
            <button mat-icon-button align="end" (click)="workPerformDetails()">
                        <mat-icon style="color: white;">add</mat-icon>
                    </button>
    
        </mat-card-header><br>
        <mat-card-content>
            <p [style.width.%]=30 style="color: red;"><strong>WORK PERFORMED:</strong><span style="color: black;"> Work
                    performed created form location
                </span></p>
            <p [style.width.%]=20 style="color: red;"><strong>RE-ATTENDANCE:</strong><span style="color: black;">
                </span></p>
    
            
    
    
        </mat-card-content>
    </mat-card>
</div>
