 
.navigation{
    background-color: rgb(195,16,47);
    overflow: hidden;
    padding-top: 10px;
} 
  a:hover{
      cursor:pointer;
  }
 .btn{
    margin-right: 20px;
}
#view{
    background-color: rgb(195,16,47);
    font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
    
    background-color: rgb(195,16,47);
   bottom: 0;
    height: 100px;
    width: 100%;  
}
@media only screen and (min-device-width: 320px){
    .outline{
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media only screen and (min-width: 480px){
    .outline{
        margin-left: 12px;
        margin-right: 12px;
    }
    #head{  
        text-align: center;
    }
    #btnrefresh.right {
     float: left;
 }

}
@media only screen and (max-width: 600px) {
    .btn.right{
        margin-right: 10px;
    }
    #btn-text{
        display: none;
    }
    }
    @media only screen and (min-width: 768px){
        .material-icons{
            display: none;
        }
    }
    @media only screen and (min-width: 1024px){
        
        .material-icons{
            display: none;
        }
    }
