/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    background-color: rgb(245, 245, 245);
    height: 100%;
    margin:0;
   padding:0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}


.app.teal-light .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: red;
}

.app.teal-light .mat-slide-toggle-thumb {
    background-color: #ff0000;
}

.matsize {
    width: 98%;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fc1212cc;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ff000099
}

.mat-input-element {
    caret-color: red;
}