.grand_parent{ width: 100vw; ;
   }
    h1{
        font-size: 4rem;
        padding: 20px 0;
        text-align: center;
        color: #000;
    }
    .parents{ 
        padding-top: 50px;
        width: auto; height: auto; margin: auto;
        display: flex;  justify-content: space-around;
        flex-wrap: wrap; transition: all 0.2 linear;
    }
  

.btn {
    width: 125px;
    height: 100px;
    margin: 20px;
    font-style: normal;
    color: red;
}

footer {
    background-color: rgb(195,16,47);
   
    left: 0;
    bottom: 0;
    height: 100px;
    bottom: 0;
    width: 100%;
}
#button{
    color: rgb(0, 0, 0);
   
}
@media only screen and (min-width: 480px){
    .parents{
        padding-right: 15px;
    }
}
@media only screen and (min-width: 771px){
    .btn:hover{
        background-color:rgb(45,62,80);
    }
    
    footer {
        position: fixed;
    }
}